
h1{
    font-size: 50px;
    color: black;
    padding: 5px;
}
header{
    width: 22%;
    padding: 30px;
    
}
main{
    width: 34.4%;
    display: flex;
    flex-wrap: nowrap;
   
     
    

    
}
.container{
    width: 200px;
    display: grid;
    grid-template-columns: repeat(4,50px);
    gap: 25px;
    justify-content: center;
    
    
}
.number{
    width: 55px;
    
    border:1px solid  black;
    border-radius: 35px;
    text-align: center;
    
    
     text-align: center;
    font-size: xx-large;
    

}


.box{
    width: fit-content;
    margin: 40px auto;
    padding: 54px;
    border: 10px;
    border-radius: 30px;
    background-color: rgb(226, 218, 231);
    box-shadow: 5px 5px 15px rgba(38, 31, 31, 0.3);
     border: 2px solid black;
}
.display {
    background-color: rgb(209, 206, 222);
    width: 490%;
    height: 50%;
    color: rgb(76, 68, 68);
    padding: 4px;
    text-align: right;
    font-family: monospace;
    border-radius: 1px;
    padding-right: 3px;
    padding-top: 25px;
    margin-right: 70px;
    height: 40px;
    box-shadow: inset 1px 1px 4px rgba(0,0,0,0.2);
    font-size: 20px;

    border-color:  rgb(84, 77, 88);;
}
.des{
    width: 54px;
    height: 54px;
    border:2px solid black;
    border-radius: 20px;
    text-align: center;
    font-size: xx-large;
    
    
    background-color: rgb(176, 163, 221);

}
